

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@500&display=swap');

.logo {
    background-image: url(https://user-images.githubusercontent.com/91993983/217617466-a4791f51-090c-4907-9c2e-8cc20106d687.jpg);
    height: 5%;
    align-items: center;
    width: 42%;
    position: absolute;
    top: 0,
}

.primary {
    background-color: "#e0e5e9";
    color: gray;
    padding-top: 120px;
    font-family: 'Unbounded';
    text-align: center;
}

.btn {
    background-color: "#e0e5e9";
    color: gray;
    font-family: 'Unbounded';
    text-align: center;
}

.smallText {
    color: gray;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.largeText {
    color: gray;
    font-size: 35px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.border {
    border-color: tan;
    
}

.errors {
        color: black;
        padding-top: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;  
        font-size: 20px;
}
